* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}
body {
    background-color: #e2e8f0;
}
/*Got rid of ".header" and changed to "header" beacause this header is not a class atribute in HTML*/
header {
    padding: 20px;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    background-color: #2b1363;
    color: #2b1363;
}

#headername {
    display: flex;
    background: #259ce0;
    width:500px;
}

#links {
    display: flex;
    margin-top: -100px;

}

.profile-picture {
    height: 200px;
    width: 100%;
    margin-left: 0px;
    background-image: url("./images/R.jpg");
    background-size: cover;
    background-position: bottom;
}

header h1 {
    display: inline-block;
    font-size: 48px;
}

header div {
    padding-top: 15px;
    float: right;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    font-size: 20px;
}

a {
    color: #ffffff;
    text-decoration: underline;
    margin: 10px
}

#subtitle {
    display: flex;
    margin-left: 80%;
    font-family:Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    font-size: xx-large;
    width: 200px;
    background-color: #259ce0;
    position: relative;
    margin-top: -3%;
}

.subheader {
    margin-bottom: 20px;
    padding: 50px;
    height: 300px;
    font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    color: #000000;
}

.subheader h2 {
    margin-bottom: 20px;
    font-size: 36px;
}

#subtext {
    display:flex;
    margin-top:5%;
    margin-left:15%;
}

#line1 {
    margin-left:7%;
    font-size:20px;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    max-width:850px;
    padding-left:330px;
    border-left:5px solid rgb(0, 0, 0);
}
#line2 {
    height: 350px;
    margin-left:11%;
    font-size:25px;
    border-left:5px solid rgb(0, 0, 0);
}

#line3 {
    margin-left:5%;
    font-size:20px;
    border-left:5px solid rgb(0, 0, 0);
}

#work1 {
    height:188px;
    width:300px;
    margin:-11.55%;
    margin-top:-11.8%;
    border-radius:10px;
}

.lable {
    margin-left: -265px;
    height: 0%;
    margin-top:50px;
    color: #ffffff;
    font-size: xx-large;
    font-size: larger;
    font-family: 'Times New Roman', Times, serif;
}

#work2 {
    height:188px;
    width:300px;
    margin:-11.55%;
    margin-top:-11.8%;
    border-radius:10px;
}

.info {
    color: #000000;
    text-decoration: underline;
    margin-left: 15%;
    font-size: x-large;
}
.box1 {
    height:204px;
    width:315px;
    display:flex;
    padding:25px;
    border-radius:20px;
    border: 8px solid rgb(0, 0, 0);
    box-shadow: 5px 5px rgb(255, 255, 255);
    font-size:x-large;
}

.box2 {
    height:204px;
    width:315px;
    display:flex;
    padding:25px;
    border-radius:20px;
    border: 8px solid rgb(0, 0, 0);
    box-shadow: 5px 5px rgb(255, 255, 255);
    font-size:x-large;
}

#space1 {
    margin-left: 325px;
}

#space2 {
    margin-left: 100px;
}