* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}
/*Adds color to web page background*/
body {
    background-color: #727780;
}
/*edits the header portion*/
header {
    padding: 20px;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    background-color: #2b1363;
    color: #2b1363;
}

header img {
    display:block;
    position:absolute;
    top: 4px;
    left:440px;
    height:110px;
    width:110px;
    border: 5px solid rgb(243, 230, 45);
    border-radius:50%;
}

#headername {
    display: flex;
    background: #259ce0;
    width:500px;
}

header h1 {
    display: inline-block;
    font-size: 48px;
}

header div {
    padding-top: 15px;
    float: right;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    font-size: 20px;
}

a {
    color: #ffffff;
    margin: 10px;
}

/*Made edits to the ID links*/
#links {
    margin-top: -60px;
    content:"none";
    text-decoration: "none";
}

/*Formats the background picture*/
.profile-picture {
    height: 200px;
    width: 100%;
    margin-left: 0px;
    background-image: url("./images/R.jpg");
    background-size: cover;
    background-position: bottom;
}
/*Edits subtitle ID*/
#subtitle {
    display: flex;
    margin-left: 80%;
    font-family:Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    font-size: xx-large;
    width: 200px;
    background-color: #259ce0;
    position: relative;
    margin-top: -3%;
}

/*Formats the class subheader*/
.subheader {
    margin-bottom: 20px;
    padding: 50px;
    height: 300px;
    font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    color: #ffffff;
}

.subheader h2 {
    margin-bottom: 20px;
    font-size: 36px;
}

#subtext {
    display:flex;
    margin-top:5%;
    margin-left:15%;
}

/*Added lines next to About me, Work, Contact me*/
#line {
    border-right:5px solid #ffffff;
}

/*Formats the about me information*/
#paragraph {
    margin-left:270px;
    max-width: 800px;
    font-size: x-large;
}

/*Formats my Horiseon challenge 1 image link*/
#work1 {
    height:188px;
    width:300px;
    margin:-11.55%;
    margin-top:-11.8%;
    border-radius:10px;
    border: 10px solid black;
}

/*Formats my Prework image link*/
#work2 {
    height:188px;
    width:300px;
    margin:-11.55%;
    margin-top:-11.8%;
    border-radius:10px;
    border: 10px solid black;
}

#space1 {
    margin-left: 200px;
}

#space2 {
    margin-left: 100px;
}

#space3 {
    margin-left: 100px;
}

/*Adds labels to both works*/
.lable {
    margin-left: 0px;
    height: 0%;
    color: #fae900;
    font-size: xx-large;
    font-size: larger;
    font-family: 'Times New Roman', Times, serif;
}

/*makes changes to my contact info*/
.info {
    color: #ffffff;
    text-decoration: underline;
    margin-left: 10%;
    font-size: x-large;
}